<!DOCTYPE html>
<html>
    {{ include('head.html.twig') }}
	<body>
		<header>
			<center>
			<img id="logo" class="img-responsive" src="{{asset('img/logo.png')}}" style="">
			</center>
		</header>
		<div class="container">
			<div class="jumbotron">
			  <h1>Oops! - 404 Not Found</h1>
			  <p>La página solcitada puede no estar disponible, haber cambiado de URL o no existir. <br>
			  Disculpe las molestias!<br> <br>
			  Con frecuencia es debido a algún error al escribir la dirección de la página (URL). Compruebe de nuevo para ver si es correcta.</p>
			  <p><a class="btn btn-primary btn-lg" onclick="goBack()">Volver</a></p>
			  <a href="{{path('puntodeinteres_index')}}">Volver a la Página principal</a>.
			<script>
				function goBack() {
					window.history.back();
				}
			</script> 
			</div>
		</div>
	    {{ include('footer.html.twig') }}    
	</body>
</html>
