<!DOCTYPE html>
<html>
    {{ include('head.html.twig') }}
	<body>
		<div class="container-fluid">
			{{ include('header.html.twig') }}
			<div class="row">
				<div class="col-md-12">{% block body %}{% endblock %}</div>
			</div>
			{{ include('footer.html.twig') }}	
		</div>    
	</body>
</html>


